html
  line-height: 1
body
  line-height: 1.375
  font-family: $space
  color: $black-font
  background: $brand-white
button
  cursor: pointer
  background: transparent
input[type="text"], input[type="password"], input[type="email"]
  background: $white
  border: .15rem solid #ccc
  padding: .25rem
  font-weight: 100
  color: $black
  font-size: inherit
a
  cursor: pointer

//atomic helpers

.width-full
  width: 100%

.margin-top-1rem
  margin-top: 1rem

.margin-bottom-1rem
  margin-bottom: 1rem
