.form-header
  color: $brand-purple
  border-bottom: 2px solid
  padding-bottom: .5rem

.modal-close
  top: 0
  right: 10px
  color: white
  font-size: 4rem
  z-index: 5
  position: absolute
  display: none
  cursor: pointer
  outline-width: 0

.form-primary
  padding: 0 1rem

.stori-form
  background: $black
  color: $white
  font-family: $rubik
  height: 100%
  padding-bottom: 3rem
  input, .ql-editor
    margin-bottom: 1.5rem
    border-radius: 3px
  .header-text
    font-family: $fira
  .header-label
    border-bottom: 1px solid rgba(154,154,154,.35)
    margin-bottom: 1rem
  .ql-editor
    height: 400px
    background: $white
    border: .15rem solid #ccc
    padding: .25rem
    font-weight: 100
    color: $black
    font-size: inherit

.annotation-container
  position: relative
  &> div
    background: $brand-gray
