.form-header
  color: $brand-purple
  border-bottom: 2px solid
  padding-bottom: .5rem

.modal-close
  top: 0
  right: 10px
  color: white
  font-size: 4rem
  z-index: 5
  position: absolute
  display: none
  cursor: pointer
  outline-width: 0
